@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "@blueprintjs/table/lib/css/table.css";
@import "@blueprintjs/select/lib/css/blueprint-select.css";
#root {
  width: 100%;
  height: 100%;
}
.bp4-tab-list {
  overflow: hidden;
}
.bp4-table-quadrant-body-container {
  user-select: text;
}
.iconify {
  align-self: center;
}
