.bp4-dark .dark {
  background-color: #2f343c;
  color: #f6f7f9;
}
.dark-when-light {
  background-color: #2f343c;
  color: #f6f7f9;
}
.bp4-dark .custom-border-t {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.custom-border-t {
  border-top: 1px solid #e4e7ed;
}
.bp4-dark .custom-border-b {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.custom-border-b {
  border-bottom: 1px solid #e4e7ed;
}
.bp4-dark .custom-border-r {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.custom-border-r {
  border-right: 1px solid #e4e7ed;
}
.fix-menuicon-mr {
  span {
    margin-right: 0;
  }
}
.fix-popmenu-min-w {
  ul {
    min-width: auto;
  }
}
